html {
    overflow: visible;
}

.clock {
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}


.tile-header {
    text-align: center;
}

.counter {
    font-size: 70px;
    text-align: center;
}

.section {
    padding-top: 5px;
}

.with-gauges {
    text-decoration-color: red;
}



#g2, #g3, #g4 {
    width:100px; height:80px;
    display: inline-block;
    margin: 1em;
}